.activites {
  &:hover {
    .activite {
      opacity: 0.5;
    }
  }

  .activite {
    height: 190px;
    margin-bottom: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: .5s;
    display: block;

    &:hover {
      opacity: 1;
    }

    .inner {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      position: absolute;
      bottom:0;
      left:0;
      background: #9e9e9e;
      padding: 8px 20px;
      color: #fff;
    }
  }

}


.list-img {
    height: 100px;
    display: table;
    text-align: center;

  img {
    vertical-align: middle;
    max-height: 100px;
    padding: 20px 30px;
  }
}

.f-container {
  margin-bottom: 100px;

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
  }
}





.activites-modal {
  padding:0 !important;
}

.activites-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
  max-width: 100%;
}
.activites-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.activites-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.activites-modal .close-modal:hover {
  opacity: 0.3;
}
.activites-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.activites-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.activites-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
