.footer {
  background: #fafafa;
  padding: 0px 20px 0px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 75px;
	max-height: 76px;
	overflow: hidden;

  	.parent {
  		display: inline-block;
   		vertical-align: middle;

		span {
			display: inline-block;
			color: #b1b1b1;
		}
	}

}
